# =========================
# Python / Flask
# =========================

venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

instance/
*.sqlite3
*.db
jobs.db

.env


# =========================
# React / Node
# =========================

node_modules/
build/
dist/
.npm
.cache/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db


# =========================
# Git
# =========================

.gitmodules


# =========================
# Logs
# =========================

*.log


# =========================
# Misc
# =========================

coverage/